<p id="notice"><%= notice %></p>

<p>
  <strong><h2><%= @article.title %></h2></strong>
</p>

<p>
  <h4 align="justify"><%= @article.headline %></h4>
</p>

<p>
  <h5 align="justify"><%= @article.body %></h5>
</p>

<p>
  <h6>Publicado el: <%= @article.created_at %></h6>
</p>

<p>
  <h4><%= @article.comments.count %> Comments</h4>
</p>

<% @article.comments.each do |com| %>
	<p>
		<h5><strong><%= com.author %></strong></h5>
		<h6><%= com.content %></h6>
	</p>
<% end %>

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this @comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, size: "60x4" %>
  </div>

  <%= f.hidden_field :article, :value => @article.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
